.eventPageTitle {
    border: 1px solid #a39eeb;
    background: #000000;
    color: #fff;
    padding: 7px;
    margin: 2px;
    border-radius: 4px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
    width: 150px;
    height: 50px;
    margin-right: 35px;
}

.tempNav {
    margin-left: 10vw;
}

.eventPageTitle:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(107, 126, 212, 0.767);
    color: #000000;
}

h1.animate {
    font-size: 1.8vw;
    text-align: center;
    color: white;
}

p {
    font-size: max(10pt, 2.5vmin);
    /* line-height: 1.4; */
    color: #0e390e;
    margin-bottom: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85vmin;
    height: 70vh;
    border: 8px solid;
    /* border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1; */
    border: none;
    margin: 2rem auto;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    background: transparent;
    transition: .4s ease-in-out;
    z-index: 1;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: .5rem 0 0 .5rem;
    border: 3px solid;
    margin-left: 1rem;
    /* border-image: 
    	linear-gradient(
      	to bottom, 
      	#f8f8f6 5%,
      	rgb(134, 135, 134) 35% 65%,
      	#232322 95%
    	) 0 0 0 100%; */
    border: none;
    transition: .3s ease-in-out .2s;
    z-index: 1;
}

.image-content1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../../assets/images/events/physics_carnival.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}

.image-content2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../../assets/images/events/escape_room.png");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}

.image-content3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../../assets/images/events/3d_printing.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}

.image-content4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../../assets/images/events/guest_lecture_ranjan_chopra.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}

.dotsEvent {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: .3s ease-in-out .3s;
}

.dotEvent {
    width: 14px;
    height: 14px;
    background: rgb(243, 243, 238);
    border: 1px solid rgb(251, 251, 251);
    border-radius: 50%;
    transition: .3s ease-in-out .3s;
}

.eventText {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    overflow-y: scroll;
}

.eventsCard {
    display: flex;
    margin-top: 0px;
}

.workShop {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.evtBtn {
    border: 1px solid #a39eeb;
    background: #000000;
    color: #fff;
    padding: 7px;
    margin: 2px;
    border-radius: 4px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
    width: 150px;
    height: 50px;
    margin-right: 35px;
}

.evtBtn:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(107, 126, 212, 0.767);
    color: #000000;
}

.wrap:hover .overlay {
    transform: translateX(-60vmin);
}

.wrap:hover .image-content {
    width: 30vmin;
}

.wrap:hover .overlay-content {
    border: none;
    transition-delay: .2s;
    transform: translateX(60vmin);
}

.wrap:hover .dotsEvent {
    transform: translateX(1rem);
}

.wrap:hover .dotsEvent .dotEvent {
    background: white;
}


/* Animations and timing delays */

.animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}


/* Pop In */

.pop {
    animation-name: pop;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}


/* Slide In */

.slide {
    animation-name: slide;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


/* Slide Left */

.slide-left {
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

.delay-7 {
    animation-delay: 2.1s;
}

.delay-8 {
    animation-delay: 2.4s;
}

@media only screen and (max-width: 820px) {
    .eventsCard {
        flex-direction: column;
    }

    .workShop {
        margin-top: 80px;
    }

    .evtBtn {
        font-size: 1rem;
    }

    .eventPageTitle {
        font-size: 1rem;
    }

    h1.animate {
        font-size: 1.3rem;
    }
}