* {
    margin: 0;
    padding: 0;
}


.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.modal-overlay {
    height: 100vh;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);

}

.overlay {
    background: rgba(8, 8, 8, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgb(0, 0, 0);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-top: 5rem;
}


.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border: 3px solid #f0b7b7;
    background: #000000;
    color: #fff;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
    margin-top: 0;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(107, 126, 212, 0.767);
    color: #000000;
}